<% if @body.present? %>
  <%= render 'custom_content', content: @body, submitter: @submitter, sig: @sig %>
<% else %>
  <p>您好，</p>
  <p>请在附件查看您的签署 "<%= @submitter.submission.template.name %>" </p>
  <p>另外，也可以通过以下链接下载保存：</p>
  <p>
    <%= link_to @submitter.template.name, submissions_preview_url(@submitter.submission.slug, { sig: @sig }.compact) %>
  </p>
  <p>
    Thanks,<br><%= @current_account.name %>
  </p>
<% end %>

